@media (max-width: 768px) {
 body {
    background-image: url(FlyBallSmartphone.jpg);
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    
 }
}
 

 
html , body {


   overflow-x: hidden;

 
}

