@media (max-width: 768px) {
 body {
    background-image: url(FlyBallSmartphone.jpg);
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
    width: 100%;
    
 }
 #desktopV {
   display: none;
}

}
 

 
html , body {
margin: 0;
padding: 0;
width: 100%;

   overflow-x: hidden;
   box-sizing: border-box;

 
}



