body {
    background-image: url(FlyBallDSKTP.jpg);
    background-size: 1520px 730px;
    background-repeat: no-repeat;

}

button {
    margin-left: 610px;
    margin-top: 630px;
    height: 50px;
    width: 280px;
    opacity: 0;
    background-color: transparent;
    cursor: pointer;
}

a {
    text-align: center;
    align-items: center;
    display: block;
    position: absolute;
    top: 600px;
    left: 620px;
    width: 100px;
    height: 40px;
    font-size: 5em;
    opacity: 0;
}