body {
    background-image: url(FlyBallDSKTP.jpg);
    background-size: 1520px 730px;
    background-repeat: no-repeat;

}

#invisibleButton {
    border: none;
    position: absolute;
    top: 630px;
    left: 600px;
    width: 300px;
    height: 50px;
    cursor: pointer;
    background-attachment: transparent;
    opacity: 0;
}